* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #896a67;
    --secondary-color: #ddc8c4;
    --tertiary-color: #13070C;
    --quaternary-color: #6b4d57;
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* HEADER STYLES */

header {
    padding: 80px 35px;
    background-image: linear-gradient(var(--quaternary-color), var(--primary-color));
    display: flex;
    justify-content: space-around;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(245, 237, 237, 0.5);
}

/* HEADSHOT/INTRO STYLES */

.introduction {
    max-width: 100%;
    padding: 20px 30px;
}

.headshot {
    max-width: 40%;
    padding: 20px;
    float: left;
}

.headshot img {
    max-width: 100%;
    height: auto;
    border-width: 10px;
    border-style: groove;
    border-color: var(--tertiary-color);
}

.intro {
    padding: 20px;
}

.intro h2 {
    padding: 20px;
}

.intro p {
    padding-bottom: 20px;
    padding-left: 20px;
    line-height: 1.5;
}

/* DEPLOYED APPLICATION STYLES */

.deployed-apps {
    max-width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.deployed-header {
    padding-top: 20px;
    text-align: center;
    clear: both;
}

.deployed-header h2 {
    text-decoration: underline;
}

.thumbnail-prime-flex {
    padding: 30px;
}

.thumbnail-prime {
    max-width: 100%;
    padding: 30px;
    align-items: center;
}

.thumbnail-prime img {
    width: 100%;
    border-radius: 15px;
}

.thumbnail-prime img:hover {
    opacity: .5;
}

.thumbnail-prime h3 {
    margin: 10px;
}

.thumbnails-small-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbnail {
    max-width: 40%;
    padding: 30px;
}

.thumbnail img {
    max-width: 100%;
    border-radius: 15px;
}

.thumbnail img:hover {
    opacity: .5;
}

.thumbnail h3 {
    margin: 10px;
}

/* CONTACT SECTION STYLES */

#contact-me {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(var(--primary-color), var(--quaternary-color));

}

#contact-me h2 {
    padding: 30px;
}

#contact-me h2 address {
    padding: 30px;
    text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
        padding: 30px;
        justify-content: space-evenly;
    }

    header nav ul li a {
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    .intro {
        width: 100%;
        padding: 20px;
    }
    .intro h2, .intro p {
        width: 100%;
    }
}